{% extends "login/base.html" %}

{% block content %}

{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}

  <p>Click <a href="/accounts/logout/">here</a> to logout.</p>
  
  <p>Click <a href="/accounts/profile/">here</a> to edit your profile information</p>

 <p>Click <a href="/accounts/create_request/"> here </a> to make a request </p>


<!-- <p>Click <a href="/accounts/view_request/">here</a> to view requests</p>
 -->
{% endblock %}